<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
    <title>
    {% block title %}
        Django App
    {% endblock title %}
    </title>
</head>
<body>
    <nav>
        <a href="/" title="Home" > 🏠</a> |
        <a href="/about" title="About"> 😀</a> |
        <a href="{% url 'posts:list' %}" title="Posts">📰</a>|
        <a href="{% url 'users:register' %}" title="Register">🚀</a>|
        <a href="{% url 'users:login' %}" title="Login">🔒</a>|
        <a href="{% url 'posts:new-post' %}" title="New Post">🆕</a>|
        <form class="logout" method="POST" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <button class="logout-button" aria-label="Logout" title="Logout"> 
                👋🏿
            </button>
        </form>
    </nav>
    <main>
        {% block content %}
        
        {% endblock content %}
    </main>
</body>
</html>